lib-cov
*.seed
*.log
*.node
*.o
*.o.d
*.mk
*.gypi
*.cache.py
*.wafpickle-7
*.lock-wscript
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
.DS_Store
dump.rdb
.jshintrc

pids
logs
results

/public/js/app.js
/public/css/style.css
npm-debug.log
/config/version.json
/config/local.json
/client/config.js
.build
/docs

/node_modules