lib-cov
*.seed
*.log
*.node
*.o
*.o.d
*.mk
*.gypi
*.cache.py
*.wafpickle-7
*.lock-wscript
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
.DS_Store
dump.rdb
.jshintrc

pids
logs
results

/public/js/app.js
/public/css/style.css
npm-debug.log
/config/version.json
/config/local.json
/client/config.js
.build
/docs

/node_modules/mongodb/node_modules/bson/build/Makefile


/node_modules/googlemaps
/node_modules/baptize
/node_modules/boilerplate
/node_modules/challenges
/node_modules/calorie-calculator
/node_modules/equipment
/node_modules/interactions
/node_modules/log-workout
/node_modules/maps
/node_modules/user
/node_modules/tempest
/node_modules/admin
/node_modules/achievements
/node_modules/workout-manager
/node_modules/payment-api
/node_modules/media
/node_modules/action-pipeline
/node_modules/geolib
/node_modules/winston-pulse
/node_modules/paymentApi
/node_modules/legacy-api
/node_modules/log-biometric
/node_modules/gpx-parser
/node_modules/wpl2
/node_modules/soap
/node_modules/sketch
/node_modules/oauth
/node_modules/ifit-mail
/node_modules/static-map
/node_modules/workout-translator

