{
  "linters": {
    "*.{js,ts,md}": [
      "prettier --write",
      "git add"
    ],
    "*.{js,ts}": [
      "yarn tsc"
    ],
    "*.{js,ts}": [
      "yarn lint:js --fix",
      "git add"
    ]
  }
}
