{
  "verifyConditions": [
    "@semantic-release/npm",
    "@semantic-release/git"
  ],
  "prepare": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/git",
      "assets": ["package.json"],
      "message": "Release <%= nextRelease.version %> - <%= new Date().toISOString() %> [skip ci]"
    }
  ],
  "analyzeCommits": {
    "path": "semantic-release-conventional-commits",
    "majorTypes": [
      "major",
      "breaking"
    ],
    "minorTypes": [
      "feat",
      "feature",
      "minor"
    ],
    "patchTypes": [
      "fix",
      "chore",
      "patch"
    ],
    "mergePattern": "/^Merge pull request #(\\d+) from (.*)$/",
    "mergeCorrespondence": "['id', 'source']"
  }
}
